.newWrap {
  padding: 150px 300px 50px;
  .newTitle {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .newContent{
    margin: 0 auto;
    .alert {
      margin-bottom: 30px;
      color: red;
      font-weight: 500;
      strong {
        color: black;
        font-weight: 600;
      }
    }
    .row {
      .title {
        height: 30px;
        font-size: 14px;
        .text-danger {
          color: red;
        }
      }
      .box, .field_with_errors {
        height: 40px;
        margin-bottom: 10px;
      }
      .textarea {
        height: 200px;
      }
    }
    .btn {
      display: inline-block;
      padding: 0.5em 1em;
      text-decoration: none;
      background: #155B75;/*ボタン色*/
      color: #FFF;
      border-bottom: solid 4px #627295;
      border-radius: 3px;
    }
    .btn:active {
      /*ボタンを押したとき*/
      -webkit-transform: translateY(4px);
      transform: translateY(4px);/*下に動く*/
      border-bottom: none;/*線を消す*/
    }
  }
}
.form {
  width: 100%;
  height: 100%;
  padding:  5px 10px;
}

@media screen and (max-width: 767px){
  .newWrap {
    padding: 10px;
    .newTitle {
      font-weight: 800;
      text-shadow: 2px 2px 4px #999999;
      font-size: 25px;
    }
    .newContent{
      position: relative;
      .row {
        .title {
          font-size: 16px;
        }
      }
      .page-top {
        position: absolute;
        bottom: 0;
        right: 10px;
        font-size: 80%;
        z-index: 300;
      }
    
      /*ボタンの色やサイズを設定する*/
      .page-top a {
        display: block;
        background: #666;
        color: #fff;
        width: 150px;
        padding: 10px 0;
        text-align: center;
        text-decoration: none;
        border-radius: 10px;
      }
    
      /*マウスオーバーした際に色を変化させる*/
      .page-top a:hover {
        background: #999;
        text-decoration: none;
      }
    }
  }
}