.wrapper
  .wrapper__section#introduction
    .wrapper__section__content
      .wrapper__section__content--box
        .wrapper__section__content--box--left
          = image_tag "sisa.jpg", class: "background-half"
        .wrapper__section__content--box--right
          %h3 居宅介護支援事業所とは
          %p ケアマネジャー(介護支援専門員)が介護や介護保険に関する様々な ご相談を承ります。要介護者ご本人やご家族のご要望をもとに、介護保険で受けられるサービスの調整や費用の計算などを当事者に代わって行います。

          %h3 当事業所の特長
          %p 当事業所では「特定事業所加算」を算定しています。特定事業所とは、居宅支援事業所において、専門性の高い人材を確保し、介護度の高い利用者や支援が困難な場合に対しても積極的に提供するといった、質の高い介護サービスを実施している事業所を評価する加算です。 (主任介護支援専門員常勤)