footer {
  width: 100%;
  height: 80px;
  background-color: #339966;
  position: relative;
  .wrapper-footer {
    width: 100%;
    height: 80px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    &__content {
      width: 500px;
      margin: 0 auto;
      &__text {
        width: 400px;
        margin: 10px auto;
        ul {
          text-align: center;
          li {
            font-size: 14px;
            align-content: center;
            color : white;
          }
        }
      }
    }
  }
}
.footer {
  width: 60px;
  height: auto;
}