footer {
  width: 100%;
  height: 100px;
  background-color: hsl(150, 50%, 40%);
  position: absolute;
  .wrapper-footer {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    display: flex;
    align-items: center;
    &__content {
      width: 70%;
      margin: 0 auto;
      &__text {
        width: 100%;
        margin: 10px auto;
        ul {
          text-align: center;
          li {
            font-size: 14px;
            align-content: center;
            color : white;
          }
        }
      }
    }
  }
}
.footer {
  width: 60px;
  height: auto;
}