//index, about, flow, accessのCSSも同中記載
* {
  box-sizing: border-box;
  font-family:  "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-weight: 500;
}

.wrapper {
  overflow: auto;
  height: 100%;
  &__section {
    width: 100%;
    min-height: 700px;
    position: relative;
    z-index: 1;
    &__top {
      position: absolute;
      top: 0;
      right: 150px;
      color: #444444;
      font-weight: 900;
    }
    &__title {
      margin: 100px auto 60px;
      max-width: 450px;
      height: 200px;
      position: relative;
      display: flex;
      justify-content: center;
      z-index: 100;
      color: #333333;
      font-weight: 900;
      &--image {
        width: 150px;
        height: 200px;
        position: absolute;
        left: -40px;
      }
      &--text {
        padding-top: 50px;
        width: 300px;
        z-index: 200;
        h2 {
          font-size: 60px;
          text-align: center;
        }
        h3 {
          font-size: 20px;
          text-align: center;
        }
      }
    }
    &__text {
      width: 60%;
      height: 120px;
      margin: 0 auto;
      z-index: 100;
      color: #333333;
      h3 {
        font-size: 25px;
        text-align: left;
      }
    }
    &__content {
      padding: 40px;
      width: 100%;
      height: 100%;
      &--box {
        display: flex;
        height: 50%;
        width: 100%;
        justify-content: center;
        &--left {
          padding: 50px 20px 20px;
          width: 30%;
          z-index: 100;
          h3 {
            color: #222222;
            font-size: 25px;
            font-weight: 800;
            background: linear-gradient(transparent 70%,#EEEEEE 70%); 
            margin: 0 auto 10px;
            text-align: center;
          }
          h4 {
            font-size: 18px;
            color: #222222;
            text-align: center;
          }
          &__image {
            margin-top: 50px;
            z-index: 100;
            img {
              width: 100%;
              height: auto;
              margin-left: -50px;
            }
          }
        }
        &--right {
          width: 60%;
          padding: 20px 0 20px 10px;
          margin: 90px 0 0 -5%;
          z-index: 100;
          h3 {
            width: 250px;
            color: #222222;
            font-size: 20px;
            font-weight: 900;
            background: linear-gradient(transparent 70%,#EEEEEE 70%);
            margin: 10px 0 15px 0;
          }
          p {
            font-size: 18px;
            color: #222222;
          }
          &--image {
            width: 50%;
            // margin-top: 50px;
          }
        }
      }
      &--map-text {
        width: 40%;
        height: 120px;
        position: absolute;
        top: 450px;
        right: 10px;
        z-index: 100;
        color: #444444;
        h2, h3 {
          font-size: 18px;
        }
      }
      &--text-upper {
        width: 50%;
        height: 120px;
        position: absolute;
        top: 50px;
        left: 0;
        z-index: 100;
        h3 {
          color: #444444;
          font-size: 18px;
          text-align: center;
        }
        h2 {
          color: #444444;
          font-size: 45px;
          font-weight: 800;
          text-shadow: 2px 2px 4px #999999;
          text-align: center;
        }
      }
      &--text-bottom {
        width: 50%;
        height: 70px;
        position: absolute;
        top: 250px;
        left: 10px;
        text-align: center;
        h3 {
          color: #444444;
          font-size: 18px;
        }
        h2 {
          font-size: 35px;
          text-align: center;
          color: #444444;
        } 
      }
      &--image {
        width: 35%;
        height: 150px;
        position: absolute;
        top: 320px;
        left: 80px;
      }
    }
  }
}
.background {
  width: 100%;
  height: auto;
  border-bottom-right-radius: 300px 50px;
  border-bottom-left-radius: 300px 50px;
}
// アニメーション
@keyframes fade-in1 {
  0% {opacity: 0}
  100% {opacity: 1.0}
}

.background-flow {
  width: 100%;
  height: 100%;
  margin-top: 100px;
}
.background-half {
  width: 100%;
  height: auto;
  margin-top: 60px;
  &--bottom {
    width: 90%;
    height: auto;
  }
}
.flow {
  opacity: 0.9;
}
#access {
  margin-top: 100px;
}
#gmap {
  width: 45%;
  height: 400px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100;
}