%footer
  .wrapper-footer
    .wrapper-footer__content
      .wrapper-footer__content__text
        %ul
          %li 居宅介護支援事業所　がゆまーる
          %li （株式会社　アウェアネス）
          %li Copyright (C) AWARENESS Co,.Ltd. All right reserved.
          


